@page "/patients"
@inject PatientsClient patientClient
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "doctor")]

<PageTitle>Patients</PageTitle>

<h1>Patients</h1>

@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" @onclick="@(() => Info(patient))">Info</button>
                            <button type="button" class="btn btn-primary" @onclick="@(() => Edit(patient))">Edit</button>
                            <button type="button" class="btn btn-danger" @onclick="@(() => Remove(patient))">Remove</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PatientDTO>? patients;

    protected override async Task OnInitializedAsync()
    {
        patients = await patientClient.GetPatients();
    }

    private void Info(PatientDTO patient) => NavManager.NavigateTo($"/patient/{patient.Id.ToString()}");

    private void Edit(PatientDTO patient) => NavManager.NavigateTo($"/editpatient/{patient.Id.ToString()}");

    private async Task Remove(PatientDTO patient)
    {
        var response = await patientClient.DeletePatientAsync(patient.Id.ToString());
        if (response.IsSuccessStatusCode)
        {
            patients = await patientClient.GetPatients();
            StateHasChanged();
        }
    }
}
